
.info {
       display: flex;
       gap: 15px;
       align-items: center;
       color: #fff;
}

.label {
       font-weight: 300;
       font-size: 22px;
       
}

.value {
       font-weight: 300;
       font-size: 22px;
      
}
